.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #090428;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.zodiac-buttons button {
  border: 2px solid;
  border-color: #6AD0E6;
  margin: 5px;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.zodiac-buttons .selected{
  background-color: #6AD0E6; /* Change to the desired color */
  color: #ffffff;
}